Requirement already satisfied: black in /home/kurian/data/.env/lib/python3.7/site-packages (19.10b0)
Requirement already satisfied: attrs>=18.1.0 in /home/kurian/data/.env/lib/python3.7/site-packages (from black) (19.1.0)
Requirement already satisfied: pathspec<1,>=0.6 in /home/kurian/data/.env/lib/python3.7/site-packages (from black) (0.8.0)
Requirement already satisfied: typed-ast>=1.4.0 in /home/kurian/data/.env/lib/python3.7/site-packages (from black) (1.4.1)
Requirement already satisfied: click>=6.5 in /home/kurian/data/.env/lib/python3.7/site-packages/Click-7.0-py3.7.egg (from black) (7.0)
Requirement already satisfied: regex in /home/kurian/data/.env/lib/python3.7/site-packages/regex-2020.1.8-py3.7-linux-x86_64.egg (from black) (2020.1.8)
Requirement already satisfied: appdirs in /home/kurian/data/.env/lib/python3.7/site-packages (from black) (1.4.4)
Requirement already satisfied: toml>=0.9.4 in /home/kurian/data/.env/lib/python3.7/site-packages (from black) (0.10.1)
