li {
    display: inline;
}

body{
	background: "url_for('static', filename='img/home.jpg')" ;
}

.centralize{
	border-radius: 20px;
    width: 600px;
    height: 200px;
    top:0;
    bottom: 0;
    left: 30%;
    right: 0;
    margin: auto;
    box-shadow: 5px 5px 5px 5px;

}